body{
    background-color: aqua;
}
form{
    width: 300px;
    margin: 30px auto;
    background-color: dimgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 2px 3px 2px rgba(75, 75, 75, 0.5); 
}
form input{
    padding: 5px;
    outline: none;
    text-transform: uppercase;
}
form label{
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #fff;
}
form button{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
    width: 170px;
    cursor: pointer;
    text-transform: uppercase;
    color: #000;
    border: 2px solid transparent;
}
form button:hover{
    background-color: transparent;
    color: #fff;
    border:  2px solid #000;
}